*{
    margin: 0px;
    padding: 0px;
}

nav{
    height: 15vh;
    width: 100%;
    background-color: rgb(16, 104, 35);
}

#navleft{
    display: block;
    width: 70%;
    float: left;
}
#navleft img{
    width: 50px;
   margin: 20px 0px 0px 0px;
}

#navright{
    margin-top: 15px;
    width: 30%;
    float: right;
}

#navright ul li{
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px;
    list-style:none;
    background-color: rgb(215, 192, 236);
    display: block;
}
#content{
    text-align: justify;
    height: 75vh;
    width: 100%;
    background-color: rgb(179, 221, 221);
}
iframe{height: inherit;
   
}
footer{
    height: 10vh;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(190, 188, 188);
}