*{
    margin: 0px;
    padding: 0px;
}

nav{
    height: 20vh;
    width: 100%;
    background-color: rgb(16, 104, 35);
}


#navleft{
    width: 50%;
    display: block;
    float: left;
   
}
#navleft img{
    width: 5%;
   margin: 20px 20px 20px 50px;
   display: block;
}
#navright{
    margin: 40px;
    width: 50%;
    float: left;


}
#navright ul li{
    float: left;
   margin-top: 10px;
   margin-left: 10px;
    padding: 8px;
    list-style:none;
    background-color: blueviolet;
    display: block;
}